
.list{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

.btn{
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    line-height: calc(16 / 12);
    
    width: 100px;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    

    &:hover{
        border-color: lawngreen;
    }

    &:focus{
        border-color: lawngreen;
    }
    
    &:active {
        background-color: rgb(182, 250, 122);
    }
}